<!doctype html>
<html lang="fr">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
  
  <link rel="stylesheet" href="/static/css/style.css" type="text/css">
  <link rel="stylesheet" href="/static/css/arrow-scroller.css" type="text/css">
  
  <title>La Palmeraie — Serveur Minecraft 1.16.3</title>
</head>
<body class="bg-dark text-white">
  <%- include('navbar'); -%>
  
  <!--MAIN WEBSITE CONTENT-->
  <div class="container-fluid px-0 headerNousRejoindre text-white">
    <div class="darkererNousRejoindre">
      <div class="row text-center">
        <div class="col-12 d-flex align-items-center justify-content-center flex-wrap align-content-center">
          <h1 class="display-3 w-100">Rejoindre la Palmeraie</h1>
          <p class="lead mt-3">Avant de pouvoir rejoindre La Palmeraie, nous avons besoin de quelques informations sur vous ! Ce formulaire nous permettra d'évaluer votre candidature, et de sécuriser le serveur.</p>
        </div>
      </div>
    </div>
  </div>
  
  <!--FORM APPLY-->
  <div class="container mt-5">
    <form action="/candidater" method="POST" name="formulaireCandidature" class="form-rejoindre" id="formulaireCandidature">
      <div class="row">
        <div class="col-lg-4">
          <label for="">Pseudo Minecraft</label>
          <input type="text" class="form-control" name="formMcNickname" id="formMcNickname">
          <small class="form-text text-muted">Votre pseudo en jeu. Ne le changez pas jusqu'à la validation de votre candidature.</small>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <label for="">Pseudo Discord#9999</label>
          <input type="text" class="form-control" name="formDiscordNickname" id="formDiscordNickname">
          <small class="form-text text-muted">Votre pseudo Discord et votre tag. Ne le changez pas jusqu'à la validation de votre candidature.</small>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <label for="">Adresse mail</label>
          <input type="text" class="form-control" name="formEmail" id="formEmail">
          <small class="form-text text-muted">Votre adresse mail. Nous nous enverrons un mail seulement si nous n'arrivons pas à vous joindre via discord, et uniquement pour vous notifier de l'avancement de votre candidature.</small>
        </div>
      </div>
      <div class="row mt-4 mt-lg-3">
        <div class="col-lg-4">
          <label for="">Âge</label>
          <input type="text" class="form-control" name="formAge" id="formAge">
          <small class="form-text text-muted">Votre âge. Cette information n'est utile que pour la candidature et n'est pas sauvegardée.</small>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <label for="">Pseudo du ou des parrains</label>
          <input type="text" class="form-control" name="formGodfathers" id="formGodfathers">
          <small class="form-text text-muted">Si vous comptez jouer avec des personnes déjà présentes sur le serveur, notez-les ici.</small>
        </div>
        <div class="col-lg-4 mt-lg-0 mt-4">
          <label for="">Comment avez-vous découvert la Palmeraie ?</label>
          <input type="text" class="form-control" name="formFoundOut" id="formFoundOut">
        </div>
      </div>
      <div class="row mt-4 mt-lg-3">
        <div class="col-12">
          <label for="">Votre Candidature</label>
          <textarea class="form-control" name="formApply" id="formApply"></textarea>
          <small class="form-text text-muted">Qui êtes-vous ? Que comptez-vous faire sur le serveur ? Quels sont vos objectifs, vos ambitions ? Qu'est-ce qui vous attire sur le serveur ?</small>
        </div>
      </div>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
          <button class="btn btn-primary btn-block btn-lg mt-5" type="submit">Valider ma candidature !</button>
        </div>
        <div class="col-3"></div>
      </div>
    </form>
  </div>
  
  <%- include('footer'); -%>
  
  <!-- Bootstrap required JS-->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ho+j7jyWK8fNQe+A12Hb8AhRq26LrZ/JpcUGGOn+Y7RsweNrtN/tE3MoK7ZeZDyx" crossorigin="anonymous"></script>
  <script src="/static/js/validator.js"></script>
</body>
</html>
