<footer class="page-footer bg-dark">
  <div class="container text-left pt-5 bg-dark text-white">
    <div class="row mt-3">
      <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
        
        <h6 class="text-uppercase font-weight-bold">La palmeraie</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto">
        <p>La Palmeraie est un serveur Minecraft proposé par Agrannok, PoC4, Ororia, Sakura19fr, et Néozaelks.</p>
        <p>Site développé par Néozaelks & PoC4</p>
      </div>
      
      <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Liens utiles</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <a href="#!" class="inlineLinks">Tutoriel & Règles</a>
        </p>
        <p>
          <a href="#!" class="inlineLinks">Le Serveur</a>
        </p>
        <p>
          <a href="#!" class="inlineLinks">Serveur Discord</a>
        </p>
        <p>
          <a href="#!" class="inlineLinks">Mentions Légales</a>
        </p>        
      </div>
      
      <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        <h6 class="text-uppercase font-weight-bold">Sites de vote</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto">
        <p>
          <a href="https://serveur-prive.net/minecraft/la-palmeraie-serveur-semi-rp-1-16-3-6639/vote" class="inlineLinks" target="_blank" rel="noopener noreferrer">Serveur-prive.net</a>
        </p>
        <p>
          <a href="https://www.liste-serveur.fr/serveurs/minecraft/la-palmeraie-serveur-semi-rp-1-16-3-6163/voter" class="inlineLinks" target="_blank" rel="noopener noreferrer">liste-serveur.fr</a>
        </p>
        <p>
          <a href="https://liste-serv-minecraft.fr/serveur?id=396" class="inlineLinks" target="_blank" rel="noopener noreferrer">liste-serv-minecraft.fr</a>
        </p>
        <p>
          <a href="https://top-serveurs.net/minecraft/la-palmeraie-serveur-semi-rp-1163" class="inlineLinks" target="_blank" rel="noopener noreferrer">top-serveurs.net</a>
        </p>
      </div>
      
      <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        <h6 class="text-uppercase font-weight-bold">contactez nous</h6>
        <hr class="mb-4 mt-0 d-inline-block mx-auto">
        <p>hello [at] lapalmeraiemc.fr</p>
        <p>devs [at] lapalmeraiemc.fr</p>
        <p>discord.gg/lapalmeraiemc</p>
        <p>@lapalmeraiemc</p>     
      </div> 
    </div>
  </div>
</footer>

<div class="footer-copyright text-center py-3 bg-dark text-white">
  <p>© 2020 <a href="#" class="inlineLinks">lapalmeraiemc.fr</a> Tous droits réservés.</p>
</div>
