.headerError{
  background-image: url('/static/assets/bg-error.png');
  height: 100vh;
  background-size: cover;
}

.headerError div{
  margin: 0 !important;
  height: inherit;
  text-align: center;
}

.darkererTutoriel{
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5) !important;
}
