nav{
  padding-left: 10vw !important;
  padding-right: 10vw !important;
}

ul li a{
  margin-left: 1vw !important;
}

.nav-fixed{
  transition: 0.25s ease-in-out;
}

.masthead{
  height: 100vh;
  min-height: 500px;
  background-image: url('/static/assets/bg-fw_image.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.darkerer{
  height: 100vh;
  min-height: 500px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.ca3-scroll-down-link{
  margin-bottom: -30vh;
}

.maincontent{
  margin-top: 5vh
}

.btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
  background-color:#FA6C2C !important;
  border-color: #FA6C2C !important;
}
.btn-primary:hover{
  border-color: #000 !important;
  background-color: #fff !important;
  color: #000 !important;
}
.btn-primary:active {
  border-color: #000 !important;
  color: #fff !important;
  background-color: #FA6C2C !important;
}

.ctaEndImage{
  background-image: url('/static/assets/cta-endimage.png');
  height: 45vh;
  background-size: cover;
}
.darkererCTA{
  height: 45vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.darkererCTA div{
  margin: 0 !important;
  height: inherit;
  text-align: center;
}

.dropdown-divider{
  border-color: black !important; 
}

hr{
  width: 10vw !important;
  border: 2px solid #FA6C2C !important; 
}

.noMargin{
  margin-left: 0 !important;
  width: 95vw !important;
}

.inlineLinks{
  color: #ff8b55 !important;
}


/*REJOINDRE*/
.headerNousRejoindre{
  background-image: url('/static/assets/cta-endimage.png');
  height: 75vh;
  background-size: cover;
}
.darkererNousRejoindre{
  height: 75vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(0, 0, 0, 0.5) !important;
}

.headerNousRejoindre div{
  margin: 0 !important;
  height: inherit;
  text-align: center;
}
input, textarea{
  background-color:#343A40 !important;
  color: #ff8b55 !important;
  border: 1px solid #ff8b55 !important;
}

::-webkit-input-placeholder { /* WebKit browsers */
  color:    #a5b3c2 !important;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:    #a5b3c2 !important;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #a5b3c2 !important;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
  color:    #a5b3c2 !important;
}

.is-valid{
  border: 1px solid rgb(37, 151, 26) !important;
  color:  rgb(37, 151, 26) !important;
}

.is-invalid{
  border: 1px solid rgb(255, 2, 2) !important;
  color: rgb(255, 2, 2) !important;
}


/*SCROLLBAR*/
* {
  scrollbar-width: thin;
  scrollbar-color: #fa6c2c #272C30;
}
*::-webkit-scrollbar {
  width: 12px;
}
*::-webkit-scrollbar-track {
  background: #272C30;
}
*::-webkit-scrollbar-thumb {
  background-color: #fa6c2c;
  border-radius: 20px;
  border: 3px solid #272C30;
}
